.auth__body {
  background-color: var(--app-dark-bg);
}

.auth__main {
  background-color: var(--app-white-bg);
  flex: 0 0 100%;
  overflow: hidden;
}

.auth__header {
  background-color: var(--app-primary-color);
  padding: 16px;
}

.auth__form {
  position: relative;
}

.auth__form--loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .auth__main {
    flex: 0 0 80%;
  }
}

@media (min-width: 992px) {
  .auth__main {
    flex: 0 0 50%;
  }
}

@media (min-width: 1400px) {
  .auth__main {
    flex: 0 0 30%;
  }
}
