.account__main {
  background-color: var(--bs-light);
  flex: 0 0 100%;
}

.account__header {
  background-color: var(--bs-primary);
  padding: 16px;
  user-select: none;
}

.account__sign-up {
  position: relative;
}

.account__sign-up--loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .account__main {
    flex: 0 0 80%;
  }
}

@media (min-width: 992px) {
  .account__main {
    flex: 0 0 50%;
  }
}

@media (min-width: 1400px) {
  .account__main {
    flex: 0 0 30%;
  }
}
